<header>
	<h1>Scroll via anchors</h1>
	<nav>
		<ul>
			<li><a routerLink="./" fragment="eins" [ngClass]="{active: currentSection == 'eins'}">eins</a></li>
			<li><a routerLink="./" fragment="zwei" [ngClass]="{active: currentSection == 'zwei'}">zwei</a></li>
			<li><a routerLink="./" fragment="drei" [ngClass]="{active: currentSection == 'drei'}">drei</a></li>
			<li><a routerLink="./" fragment="vier" [ngClass]="{active: currentSection == 'vier'}">vier</a></li>
		</ul>
	</nav>
</header>
<main >
	<div appScrollSpy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
		<section id="eins">eins</section>
		<section id="zwei">zwei</section>
		<section id="drei"><a [routerLink]="['/subzero']" routerLinkActive="router-link-active">drei</a></section>
		<section id="vier">vier</section>

	</div>
</main>